@import './vars.css';
@import './reset';
@import '../../shared/assets/fonts/fonts.css';
@import './mixins';


.wrapper{
    margin: 0 auto;
    max-width: 1440px;
}

.accent{
    color: var(--accent);
}

.next-video-alert-sourced{
    display: none;
}

* {
    &::-webkit-scrollbar {
        width: 5px;
        height: 3px;
        background-color: var(--white);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--black-stroke-translucent);
    }
}

html {
    font-family: var(--ff) !important;
    font-weight: var(--fw);
    font-size: var(--fz);
    line-height: 1.6;
}

body {
    background-color: var(--bg-main);
}


.h1, h1 {
    font-weight: 600;
    font-size: var(--fz-l);
    line-height: 1.272em;
    letter-spacing: 0%;
    color: var(--black-main);
    cursor: default;
}

.h3, h3 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.285em;
    letter-spacing: 0%;
    color: var(--black-translucent-subtitle);
}
