/* stylelint-disable */

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 769px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
    xxxl: 1800px,
);

@mixin moreThan($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
    @else {
        @warn "К сожалению, не удалось получить значение для `#{$breakpoint}`. "
            + "Доступные брейкпоинты: #{map-keys($breakpoints)}.";
    }
}

@mixin lessThan($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
    @else {
        @warn "К сожалению, не удалось получить значение для `#{$breakpoint}`. "
            + "Доступные брейкпоинты: #{map-keys($breakpoints)}.";
    }
}

