@import '../../../app/styles/mixins';

.Footer{
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    padding: 70px 58px;
    background: var(--black-main);

    @include lessThan(md) {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        padding: 30px 20px;
    }
}


.header {
    font-family: Ermilov, sans-serif;
    font-weight: 600;
    font-size: clamp(1.5rem, 0.875rem + 2.5vw, 3.125rem);
    color: var(--white);
}

.btn {
    margin-top: 35px;
    margin-bottom: 96px;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid var(--white);
        border-radius: 20px;
        padding: 20px;
        width: 310px;
        box-shadow: 0 4px var(--white);
        font-size: var(--fz-m);
        color: var(--white);
        background: var(--accent);
        transition: .2s ease-in-out;
        gap: 8px;

        &:hover {
            background: var(--black-main);
        }

        @include lessThan(xl){
            padding: 10px;
            width: 250px;
        }
    }

    @include lessThan(sm) {
        margin-bottom: 30px;
    }
}

.socials {
    .title {
        margin-bottom: 25px;
        font-size: var(--fz-s);
        color: var(--black-translucent-subtitle2);

        @include lessThan(sm) {
            margin-bottom: 30px;
        }
    }

    .links {
        display: flex;
        gap: 20px;

    }

    @include lessThan(sm) {
        margin-bottom: 150px;
    }
}

.image {
    position: absolute;
    right: 58px;
    bottom: -10px;

    @include lessThan(xl){
        width: 100%;
        text-align: right;

        img {
            width: 60%;
            height: auto;
        }
    }

    @include lessThan(sm) {
        right: 20px;

        img {
            width: calc(100% - 40px);
        }
    }

}