@import '../../../../app/styles/mixins';

.RoadMap{
    position: relative;
    margin-top: 20px;
    border-radius: 60px;
    padding: 70px 58px;
    background: var(--accent);

    @include lessThan(md) {
        border-radius: 30px;
        padding: 30px 20px;
    }
}

.header {
    font-family: Ermilov, sans-serif;
    font-weight: 600;
    font-size: clamp(1.5rem, 0.875rem + 2.5vw, 3.125rem);
    color: var(--white);

    @include lessThan(sm) {
        margin-bottom: 25px;
    }
}

.row {
    position: relative;
    display: flex;
    margin-bottom: 40px;
    width: 100%;

    @include lessThan(sm) {
        margin-bottom: 15px;
    } 
}

.justifyEnd{
    justify-content: flex-end;
}

.justifyStart{
    justify-content: flex-start;

    @include lessThan(sm) {
        justify-content: flex-end;

    }
}

.cardsWrapper {

}

.star{
    position: absolute;
    left: 40%;
    top: 66px;

    @include lessThan(sm) {
        display: none;
    }
}

.star2{
    position: absolute;
    right: 20%;
    bottom: -31px;

    @include lessThan(sm) {
        display: none;
    }
}

.poly{
    position: absolute;
    right: 10%;
    top: 31px;

    @include lessThan(sm) {
        display: none;
    }
}

.poly2{
    position: absolute;
    left: 20%;
    top: 48px;

    @include lessThan(sm) {
        display: none;
    }
}

.card {
    position: relative;
    border: 1px solid var(--white);
    border-radius: 30px;
    padding: 25px 20px;
    width: 428px;
    height: 207px;
    color: var(--white);
    background: var(--black-main);

    .year {
        position: absolute;
        right: 20px;
        bottom: 15px;
        font-family: Ermilov, sans-serif;
        font-weight: 600;
        font-size: clamp(1.5rem, 0.875rem + 2.5vw, 3.125rem);
    }

    @include lessThan(xl){
        width: calc(428px / 1.35);
        height: calc(207px / 1.35);
        font-size: 14px;
    }

    @include lessThan(xs) {
        width: 285px;
        height: 140px;
    } 
}

.line{
    @include lessThan(md) {
        
        
    }

    position: absolute;
    left: 50%;
    top: 0;
    translate: -52% 0;

    @include lessThan(xl){
        height: 100%;
    }

    @include lessThan(sm) {
        display: none;
    }
}

.mobileLine {
    position: absolute;
    left: 15px;
    height: 100%;

    @include lessThan(xs) {
        left: 5px;
    }

    @include moreThan(sm) {
        display: none;
    } 

    
}